<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Blogly{% endblock %}</title>
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link
    href="https://bootswatch.com/5/minty/bootstrap.css"
    rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  {% block content %}
  {% endblock %}
</body>
</html>