{% extends 'base.jinja' %}

{% block title %} User Edit Page {% endblock %}

{% block content %}

<h2>Edit a User</h2>

<form action="users/{{user_id}}/edit" method="post">

<div class="form-group">
    <label>
        <input class="form-control" name="first_name" type="text" value="{{ first_name }}">
    </label>
</div>

<div class="form-group">
    <label>
      <input class="form-control" name="last_name" type="text" value="{{ last_name }}">
    </label>
</div>

<div class="form-group">
    <label>
        <input class="form-control" name="image_url" type="url" value="{{ img_url }}">
    </label>
</div>

<a class="btn btn-outline-danger" href="#" role="button">Cancel</a>
<a class="btn btn-success" href="#" role="button">Save</a>
</form>


{% endblock %}