{% extends 'base.jinja'%}

{% block title %} User Details {% endtitle %}

{% block content %}

<!-- two buttons, one text line, one area for image-->
<img src="{{ image_url }}" height="200px" width="200px">
<h2>{{ user_name }}</h2>

<a class="btn btn-primary" href="/" role="button">Edit</a>
<a class="btn btn-danger" href="/" role="button">Delete</a>

{% endblock %}