{% extends 'base.jinja' %}

{% block title %} Users {% endtitle%}

{% block content %}

<h2>Users</h2>

<ul>
<!-- this part will be dynamically generated-->
</ul>

<p>
<button class="btn btn-secondary">Add user</button>
</p>

{% endblock %}